<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <title>Board Game Mondays</title>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BoardGameMondays.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/svg+xml" href="images/bgm-logo.svg" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.server.js"]"></script>
    <script src="@Assets["app.js"]"></script>
    <script src="@Assets["js/cookie-consent.js"]"></script>
    <script>
        window.downloadFile = function (fileName, contentType, base64Data) {
            const link = document.createElement('a');
            link.href = 'data:' + contentType + ';base64,' + base64Data;
            link.download = fileName;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };
    </script>
</body>

</html>
